
################ .gitignore란? ################
# git을 사용할 땐 .gitignore라는 이름의 파일을 생성하곤 합니다.
# 이 파일명은 특별한 의미를 갖습니다. 어떤 파일을 원격 저장소에 올릴 것인지 말지를 결정할 수 있습니다.
# 특정한 파일이나 폴더의 이름을 작성할 수도 있고, 아니면 특정 확장자를 대상으로도 지정할 수 있습니다.
###############################################


# 아래 확장자로 끝나는 파일들은 모두 원격 저장소에 저장하지 말 것
*.pyc
*.out
*.err
*.pth

# 아래 폴더 및 그 하위 파일들은 원격 저장소에 저장하지 않는다
wandb/
data/
mnist/
__pycache__/